* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: rgb(54, 87, 51);
    border-bottom: 2px solid rgb(54, 87, 51);
    transition: color 0.25s;
    transition: border 0.25s;
}

a:hover, a:focus {
    text-decoration: none;
    ocolor: rgb(176, 219, 187);
    border-bottom: 2px solid rgb(176, 219, 187);}

h3 {
    font-weight: 100;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0px;    
}

#profilePic {
    margin: 10px 15px 0px 0px;
    width: 150px;
    height: 150px;
    border: 5px solid lightgrey;
    border-radius: 20px;
    float: left;
}


.header {
    text-align: center;
    top: auto;
    margin: 5px auto;
    padding: 25px;
    min-width: 175px;
    background-color: rgb(54, 87, 51);
    opacity: 85%;
}

.sidebar {
    background-color: rgb(54, 87, 51);
    background-image: url('./components/images/site/profile_banner_portrait.jpg');
    color: #fff;
}

#myName, #tagline {
    margin: 5px 0px;
}

#tagline {
    font-weight: 300;
    color: rgb(176, 219, 187);
    font-style: italic;
}

nav {
    margin: 30px auto;
}

.nav-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: x-large;
}

.nav-item {
    display: block;
    *display: inline;
    margin-bottom: 10px;
}

.nav-item-active {
    background-color: darkgreen;
}

.nav-item a {
    color: rgb(176, 219, 187);
    letter-spacing: -0.5px;
    border: none;
}

.nav-item-active a {
    color: white;
}

.nav-item a:hover,
.nav-item a:focus {
    color: white;
    border: none;
    text-decoration: none;
}

.content {
    padding: 2em 1em 0;
    background-color: white;
}

.post {
    padding-top: 20px;
    padding-bottom: 2em;
}

.post-title {
    width: 66%;
    font-size: 1.75em;
    letter-spacing: -0.05em;
    color: rgb(54, 87, 51);
    margin-bottom: 0.5em;
    padding-bottom: 3px;
    border-bottom: 5px solid lightgrey;
}

.post-description {
    color: #444;
    line-height: 1.75em;
    margin-left: 10px;
}

#projectContainer {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.project {
    margin: 0em 0.07em 0.4em 0em;
    max-width: 100%;
    min-height: 150px;
    border: 5px solid lightgrey;
    border-radius: 10px;
    filter: grayscale(66%);
    background-size: cover;
}

.project:hover {
    filter: none;
    transition: filter 0.5s ease-in-out;
}

.project p {
    margin: 0px 0px 0px 10px;
    padding: 5px 5px 5px 10px;
    font-size: 125%;
    letter-spacing: -1px;
    width: 66%;
    background-color: lightgrey;
    color: black;
    border-radius: 0px 0px 5px 5px;
}

.project span {
    font-size: 75%;
}

.project span a:hover {
    obackground-color: rgb(54, 87, 51);
}

#contactMe .container {
    display: flex;
    align-content: center;
}

#contactMe ul {
    margin: 0px;
    padding: 10px 0px 0px 10px;
}

#contactMe li {
    list-style-type: none;
    font-size: 90%;
}

footer div {
    min-height: 300px;
    width: 100%;
    color: white;
    background-color: rgba(54, 87, 51, 0.75);
    border-radius: 5px;
    padding: 10px;
    text-align: right;
    vertical-align: middle;
}

#footerDiv {
    margin-top: 700px;
}


.modal-window {
    position: fixed;
    background-color: rgba(61, 61, 61, 0.66);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
}

.modal-window:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-window>div {
    width: 800px;
    position: relative;
    margin: 7% auto;
    padding: 2rem;
    background: #fff;
    color: #444;
    border: 5px solid lightgrey;
    border-radius: 10px;
}

p {
    line-height: 125%;
    font-size: x-large;
}

.screenShot {
    width: 700px;
}

#project1 {
    background-image: url('./components/images/projects/splash-snackchat.jpg');
}

#project2 {
    background-image: url('./components/images/projects/splash-calorie.jpg');
}

#project3 {
    background-image: url('./components/images/projects/splash-weather.jpg');
}

#project4 {
    background-image: url('./components/images/projects/splash-workday.jpg');
}

#project5 {
    background-image: url('./components/images/projects/splash-budget.jpg');
}

#project6 {
    background-image: url('./components/images/projects/splash-workout.jpg');
}

.comment {
    font-style: italic;
}

#contactForm {
    margin-top: 25px;
    width: 50%;
}

input {
    width: 95%;
    padding: 5px;
    margin: 2%;
    border: solid 2px lightgrey;
    border-radius: 5px;
}

textarea {
    width: 95%;
    padding: 5px;
    margin: 2%;
    border: solid 2px lightgrey;
    border-radius: 5px;
}

button {
    padding: 5px;
    margin: 2%;
    border: solid 1px lightgrey;
    border-radius: 5px;
}

@media (min-width: 48em) {

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        border-right: 5px solid lightgrey;
    }

    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    
    }

    .header {
        margin: 40% 2em 0;
        text-align: right;
        border-radius: 20px;
    }

    .project {
        max-width: 49%;
    }

    .footer {
        text-align: center;
    }
}
